.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('background_photos/campus3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  margin: -0.5;
  padding: -0.5;
  position: relative;
  font-family: Poppins;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  gap: 20px;
}

.hamburger {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}


.logo-group {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 110px;
}

.logo-label {
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
  line-height: 1.4rem;
}

.logo-label2 {
  font-size: 1.5rem;
  font-weight: 800;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-left: auto;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 8px 14px;
  transition: 0.3s ease-in-out;
  border-radius: 4px;
}

.nav-links a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.contact-btn {
  background: #014f6eff(76, 118, 255, 1);
  background-color: #014f6eff;
  padding: 10px 22px;
  border-radius: 20px;
  font-weight: 700;
}

.contact-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.button-label {
  color: white;
  font-size: 6rem;
  font-weight: 600;
  margin-top: 350px; /* optional */
  text-align: center;
}


